<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
__VIEWPORT__
    <link rel="shortcut icon" href="../../lib/imgs/qici.ico" />
    <title>编辑器启动场景的脚本</title>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;             
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/Assets/css/style.css"/>

    <script>

__CONFIG__
        qici.config.developerMode = true;
        qici.config.editor = true;
        qici.config.runInBackground = true;

   __PLUGIN_VARIABLES__

        qici.scripts = [
            __URLMAP_SCRIPTS__
            '../lib/phaser.js',
            '../lib/webfontloader.js',
            '../lib/qc-core-debug.js',
            // External scripts for plugins
__EXTERNAL_PLUGINS_SCRIPTS__
            // Plugins scripts    
__PLUGINS_SCRIPTS__
            // User scripts    
__USER_SCRIPTS__
        ];
        
		// Asset count that need preload in boot
		qici.loadingAssetCount = __LOADING_ASSET_COUNT__;
    </script>
</head>

<body onload="qici.init();">
    <div style="overflow:hidden;padding:0;margin:0;width:100%;height:100%;">
        <div id="gameDiv" style="position:absolute;width:100%;height:100%"></div>
    </div>
    <script src='../../lib/qc-loading-debug.js'></script>
    <script src='../../lib/qc-loading-editor.js'></script>
</body>

</html>
